


<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script>
    $(function() {
        valid_receivers= <%= raw User.all.map{|u| u.full_name}.to_json %>;
        $( "#message_compose_receiver" ).autocomplete({
            source: valid_receivers
        });
    });
 </script>

<div id="message_compose_body" >


  <h1>Nuevo Mensaje</h1>
  <br>

  <%= form_tag("/messages/compose",{:onsubmit => "return validate_receiver();"}) do %>

      <h3>Destinatario:</h3>
      <%=  text_field_tag "message_compose_receiver"%>
      <br>
      <h3>Mensaje:</h3>
      <%= text_area_tag 'message_compose_text_area'%>


      <br>
      <br>
      <%= submit_tag( "Enviar", { :id => "message_compose_send_button"})%>
  <% end %>

</div>


