
<div id="message_history_body" >




  <h1 id="message_history_contact_name" >
    <%= @contact.full_name  %>

  </h1>
  <br>


  <div id="message_history_text_box" >



    <%= render "messages/show_all" %>


  </div>


  <div id="message_history_new_box" >

    <%= text_area_tag 'message_history_new_text_area'%>
    <%=button_tag "Enviar", { :id => "message_history_send_button", :onclick => "send_message(#{@user.id},#{@contact.id},'history')"}%>


  </div>


</div>