
<% verb =  @message.sender_id == @user.id ? "sent" : "received" %>

<div class = "message_show_box <%=verb%>_message_show_box">





  <p class="message_show_date <%=verb%>_message_date">
    <%= @message.date.strftime("%d/%m/%Y - %R") %>
    <p/>

  <%= image_tag(verb+"_"+(@message.read ? "read" : "unread") +".png", :class => "message_icon")%>

    <p class="message_show_text <%=verb%>_message_text"><%=raw @message.text.gsub(/\n/, '<br/>') %><p/>

  <hr class="message_show_hor_bar">


</div>