

<%last_message = @user.messages_with(@summary_contact).last %>


<% verb =  last_message.sender_id == @user.id ? "sent" : "received" %>
<% status =  last_message.read ? "read" : "unread" %>
<% selected = @summary_contact == @contact %>



<div class="message_summary_box <%=verb+"_"+status %>_message_summary_box<%=selected ? " selected_message_summary_box": ""%>" onclick="self.location='/messages/?contact=<%=@summary_contact.id%>';">

    <p class="message_summary_contact_name"><%= @summary_contact.full_name %><p/>


    <p class="message_summary_last_message_date"><%= last_message.date.strftime("%d/%m/%Y - %R") %><p/>
  <%= image_tag(verb+"_"+status+".png", :class => "summary_message_icon")%>
    <p class="message_summary_last_message_text"><%= last_message.text.first(30)%><%= last_message.text.length>30 ? "..." : "" %><p/>


</div>