


$("#message_history_text_box").html("<%=escape_javascript( render "messages/show_all")%>")


$("#message_history_new_text_area").val("")




$("#message_history_text_box").animate({ scrollTop: $('#message_history_text_box')[0].scrollHeight}, 1000);

console.debug("ok")