

<%if !@new%>
<script>
    $(function() {
    $("#message_history_text_box").scrollTop($("#message_history_text_box")[0].scrollHeight);
    });
</script>
<%end%>


<h1>Mensajería Interna</h1>


<h3 id="messages_compose_link"><%=link_to "+ Redactar Nuevo", messages_path(:new => "")%></h3>
<h3>Mensajes Recientes:</h3>

<div id="messages_body">

    <div id="messages_sidebar">



      <% @user.contacts.sort_by{|c| Message.between(@user,c).last.date}.reverse.each do |contact| %>
          <%= render "messages/summary", :@summary_contact => contact%>
      <% end %>



    </div>


    <div id="messages_main_box">

      <% unless(@new)%>
          <% if @contact.nil? %>
              <br><br><h3>¡No tienes conversaciones!<br>Inicia una haciendo click en "Redactar Nuevo"</h3><br><br>
          <%else%>
          <%= render "messages/history"%>
          <%end%>
      <% else %>
          <%= render "messages/compose"%>
      <% end %>

    </div>
</div>
