<h1>Listing models</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Type</th>
    <th>String</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @models.each do |model| %>
  <tr>
    <td><%= model.name %></td>
    <td><%= model.brand %></td>
    <td><%= model.kind %></td>
    <td><%= link_to 'Show', model %></td>
    <td><%= link_to 'Edit', edit_model_path(model) %></td>
    <td><%= link_to 'Destroy', model, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Model', new_model_path %>
