<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @model.name %>
</p>

<p>
  <b>Marca:</b>
  <%= @model.brand %>
</p>

<p>
  <b>Tipo:</b>
  <%= @model.kind %>
</p>


<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
