<script>
    $( document ).ready(load_stars)
</script>


<%= form_for(@part) do |f| %>
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> Impidió agregar este componente:</h2>

      <ul>
      <% @part.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.hidden_field :vehicle_id, :value => @vehicle.id , :id => "parts_vehicle_hidden_field"%>

    <div class="new_part_field">
      <%= f.label "Componente:" %><br><br>
      <%= f.collection_select( :component_id, Component.all, :id, :name, {}, {})%>
    </div>


    <div class="new_part_field">
    <%= f.label "Fecha de creación:" %><br><br>
    <%= f.date_select :creation_date, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], :end_year => Time.now.year,:start_year => Time.now.year-50,:order => [:day, :month, :year] } %>
  </div>

    <%= f.label "Estado:" %><br><br>

    <%= f.hidden_field :grade, :value => (@part.grade.nil? ? 5 : @part.grade ),:id => "parts_grade_hidden_field"%>

    <% 5.times do |i| i=i+1%>

        <%= image_tag("star.png", :class => "star", :id => "star_"+i.to_s, :onmouseover => "paint_stars(#{i})", :onmouseout => "load_stars()", :onclick => "update_grade(#{i})" )%>

    <% end %>

    <br><br><br>
  <div class="actions">
    <%= f.submit  (@part.id ? "Actualizar" : "Crear")%>
  </div>
<% end %>
