
<%= link_to '+Nuevo Componente', new_part_path({ :vehicle =>  @vehicle}), :id => "new_part_link" %>
<p><%= link_to '+Nueva Mantención', new_maintenance_path({ :vehicle =>  @vehicle}), :id =>"new_maintenance_link" %></p>

<% total=0
   @parts.each do |p|
    total=total+p.grade
   end
   promedio=total/@parts.count
%>

<div class="vehicle_state">
  Estado Actual del Vehículo: <% promedio.times do %>
      <%= image_tag("star.png") %>
  <% end %>
  <%=link_to_function "(?)", "explain_state("+promedio.to_s+")" %>
</div>


<table class="parts_table">
  <tr id="parts_table_header">
    <th>Componente</th>
    <th>Creación</th>
    <th>Vida Útil</th>
    <th>Estado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parts.each do |piece| %>
  <tr class="parts_table_row">
    <td class="parts_table_column"><%= piece.component.name %></td>
    <td class="parts_table_column"><%= piece.creation_date.strftime("%d/%m/%Y") %></td>
    <td class="parts_table_column"><%= piece.remaining_lifetime %></td>
    <td class="parts_table_column">
      <% piece.grade.times do %>
          <%= image_tag("star.png") %>
      <% end %>



    </td>
    <td class="parts_table_column"><%= link_to 'Editar', edit_part_path(piece),{},{ :vehicle => @vehicle} %></td>
    <td class="parts_table_column"><%= link_to 'Eliminar', piece, confirm: 'Estás seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />



