<p id="notice"><%= notice %></p>

<p>
  <b>Component:</b>
  <%= @part.component_id %>
</p>

<p>
  <b>Creation date:</b>
  <%= @part.creation_date %>
</p>

<p>
  <b>Spoil date:</b>
  <%= @part.spoil_date %>
</p>

<p>
  <b>Grade:</b>
  <%= @part.grade %>
</p>


<%= link_to 'Edit', edit_piece_path(@part) %> |
<%= link_to 'Back', parts_path %>
