<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password , :type => "password" %>
  </div>


  <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :Apellido %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :Fecha_de_Nacimiento %><br />
    <%= f.date_select :birth_date, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], :end_year => Time.now.year,:start_year => Time.now.year-30 } %>
  </div>
    <p></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
