<script src="http://pajhome.org.uk/crypt/md5/2.2/md5-min.js"></script>


<script>
$(document).ready(function() {
pic_setup("<%=@client.picture%>")
});

</script>

<div id="picture_form">


	<div id="no_pic_form" class="pic_option_box">
	<%=radio_button("pic_radio_b","","no", :onchange => "select_pic_option('no');", :class => "pic_radio_button")%>
	<%=image_tag("no_pic_user.png", :class => "pic_option_icon")%>

	<texto class="pic_option_title">Sin Foto</texto>  




	</div>

	<div id="gravatar_pic_form" class="pic_option_box">
	<%=radio_button("pic_radio_b","","gravatar", :onchange => "select_pic_option('gravatar')", :class => "pic_radio_button")%>
	<%=image_tag("gravatar_logo.jpg", :class => "pic_option_icon")%>

	<texto class="pic_option_title">Gravatar</texto>  
	Usuario:
	<%=text_field_tag 'gravatar_user',@gravatar_user, {:onchange => "build_pic_url()"}%>

	</div>
	


	<div id="facebook_pic_form" class="pic_option_box">
	<%=radio_button("pic_radio_b","","facebook", :onchange => "select_pic_option('facebook')", :class => "pic_radio_button")%>
	<%=image_tag("fb_logo.png", :class => "pic_option_icon")%>

		<texto class="pic_option_title">Facebook</texto>  

	</div>


	<div id="internet_pic_form" class="pic_option_box">
	<%=radio_button("pic_radio_b","","internet", :onchange => "select_pic_option('internet')", :class => "pic_radio_button")%>
	<%=image_tag("internet_logo.png", :class => "pic_option_icon")%>

		<texto class="pic_option_title">Internet</texto>  
		URL:
		<%=text_field_tag 'internet_pic_url',@internet_url, {:onchange => "build_pic_url()"}%>


	</div>




	<div id="pic_preview_box">
		<texto class="pic_option_title">Vista Previa:</texto>  
		<%=image_tag "http://carlifeuc.herokuapp.com/assets/no_pic_user.png", :id => "pic_preview"%>

	</div>


</div>


