<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Birth date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.birth_date %></td>
    <td><%=# link_to 'Show', user
    %></td>
    <td><%=# link_to 'Edit', edit_user_path(user)
    %></td>
    <td><%=# link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete
    %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
