<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email , :onchange => "mail_gravatar_sync()"%>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password , :type => "password" %>
  </div>


  <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :Apellido %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :Fecha_de_Nacimiento %><br />
    <%= f.date_select :birth_date, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], :end_year => Time.now.year,:start_year => Time.now.year-100,:order => [:day, :month, :year] } %>
  </div>

  <div class="field">
    <br>
    <%= f.label :Fotografía %><br />
    <%=render "users/picture_form"%>
  </div>

  <%= f.hidden_field :picture, :value => @client.picture.nil? ? "http://carlifeuc.herokuapp.com/assets/no_pic_user.png" : @client.picture , :id => "client_form_pic_hidden_filed"%>


    <p></p>
  <div class="actions user_form_actions">
    <%= f.submit @client.id.nil? ? "Crear" : "Actualizar"%>
  

  </div>
<% end %>
