

<div id="client_profile_headers">
  <%=image_tag @client.picture, :id => "client_profile_picture", :onmouseover => "$('#edit_profile_pic_icon').show()", :onmouseout => "$('#edit_profile_pic_icon').hide()", :onclick => "window.location = '/clients/edit'" %>


  <%=image_tag "edit_profile_pic_icon.png", :id => "edit_profile_pic_icon", :onclick => "window.location = '/clients/edit'" %>

  <h1 id="client_profile_name"><%= @client.first_name+" "+@client.last_name %></h1>
</div>

<p id="notice"><%= @notice %></p>


<div id="cars_box">


    <div id="car_names_bar">


      <table>
        <tr>
        <%= link_to '+ Nuevo Vehículo', new_vehicle_path, :id =>"new_vehicle_link" %>
        </tr>

      <% @vehicles.each do |vehicle| %>
            <tr>

              <div class="car_name <%= @selected_vehicle == vehicle ? (@parts_view ? 'selected_car_name_parts_view' : "selected_car_name_main_view"):""%>">
              <%= link_to( raw( vehicle.full_name.sub(' ', '<br>') ), client_home_path({ :vehicle =>  vehicle}), {:class => "car_name_text", :id => @selected_vehicle == vehicle ? 'selected_car_name_text' : "other_car_name_text"})%>

              </div>
            </tr>

      <% end %>

      </table>

      </div>


  <div id="car_page_tabs_area">

    <div id="car_main_tab" class="car_page_tab">

      <%  if @parts_view %>
          <%=link_to image_tag("main_tab.png", :id => "main_tab_picture"), client_home_path({ :vehicle =>  @selected_vehicle})%>
          <%  else %>
          <%=image_tag("main_tab.png", :id => "main_tab_picture")%>
      <% end %>

    </div>

    <div id="car_parts_tab" class="car_page_tab">

      <%  if @parts_view %>
          <%=image_tag("parts_tab.png", :id => "parts_tab_picture")%>
      <%  else %>
          <%=link_to image_tag("parts_tab.png", :id => "parts_tab_picture"),client_home_path({:vehicle => @selected_vehicle, :parts =>""}) %>
      <% end %>




    </div>


  </div>




      <%  if @parts_view %>
          <div id="parts_view_car_box" class="selected_car_box">
            <%= render  "vehicles/parts.html.erb",   :@vehicle => @selected_vehicle %>
          </div>
      <%  else %>
      <div id="main_view_car_box" class="selected_car_box">
          <%= render  "vehicles/main.html.erb",   :@vehicle => @selected_vehicle %>
      </div>
      <% end %>








  </div>

<br />


