
<h1>Bienvenido a CarLife!</h1>
<h2>Ingresa tus datos, o 
</h2>



<script>
fb_sdk();
</script>


<%=link_to_function image_tag("fb_sign_in.png"),"fb_signup()", {:class => "fb-login-button fb_signup_first"}%> 



<%= render 'form' %>
<%= link_to 'Atrás', root_path %>