[

<%@vehiclex.each_with_index do |v,index|%>
    {
        "id":<%=v.id%>,
        "brand":"<%=v.model.brand%>",
        "model":"<%=v.model.name%>",
        "year":<%=v.year%>,
        "grade":<%=v.grade%>,
        "parts": [
            <%v.parts.each_with_index do |p,index1|%>
            {
                "id":<%=p.id%>,
                "name":"<%=p.component.name%>",
                "type":"<%=p.component.component_type.name%>",
                "grade": <%=p.grade%>

            }
            <% unless index1== v.parts.count - 1%>
            ,
            <% end %>

            <%end%>
        ],
        "events":[
            <%v.events.each_with_index do |e,index2|%>
            {
                "type":"<%=e.type%>",
                "time":"<%=e.time%>",
                "description": "<%=e.description%>"

                <%case e.type%>
                <%when "RefuelEvent"%>
                , "litres": <%= e.litres %>
                <%when "TripEvent"%>
                , "destiny": "<%= e.destiny %>"
                , "km": <%= e.km %>
                <%when "InactivityEvent"%>
                ,"inactive_since":  "<%= e.time.strftime("%d/%m/%Y") %>"
                <%when "ComponentFailureEvent"%>
                ,"part" : "<%= e.component.name %>"
                <%when "ComponentFixEvent"%>
                ,"part" : "<%= e.component.name %>"
                <%when "ComponentInstallEvent"%>
                ,"part" : "<%= e.component.name %>"
                <%when "CrashEvent"%>
                ,"location": "<%= e.place%>"
                <%when "GenericEvent"%>

                <%else%>
                Tipo de Evento no identificado

                <%end%>

            }
            <% unless index2== v.events.count - 1%>
            ,
            <% end %>

            <%end%>

        ]




    }

    <% unless index== @vehiclex.count - 1%>
    ,
    <% end %><%end%>


]