<table border="0">

  <td valign="top" width="200">
    </div>
    <div id="columns">
      <div id="side">
        <ul>
          <li><a href="http://localhost:3000">Home</a></li>
          <li><a href="http://www..../faq">Questions</a></li>
          <li><a href="http://www..../news">News</a></li>
          <li><a href="http://www..../contact">Contact</a></li>






        </ul>
      </div>

  </td>

  <td>
    <div id="main">


            <h1>Esta es la pagina de administrador...</h1>

      <li><a href=models>Administrar modelos de autos</a></li>
      <%link_to "Administrar modelos de autos", models_path%>
      <li><a href=categories>Administrar categorias de los productos y servicios de los proveedores</a></li>
      <%link_to "Administrar categorias de los productos y servicios de los proveedores", categories_path%>


  </td>

  </p></p>
</table>