
<div style="width:800px;">

<h1>Preguntas Frecuentes (FAQ)</h1>

  <br>
<h2>¿A quién va dirigido Carlife?</h2>
Esta dirigido a dos segmentos: Proveedores  y Usuarios propiamente tal.  En Proveedores se consideran empresas del rubro automotriz, proveedoras de toda clase de
productos y servicios para automóviles.  Por el otro lado están los Conductores: usuarios de la aplicación que consideran a toda persona que tenga un vehículo.

<h2>¿Para que les sirve a los usuarios?</h2>
  A toda persona que tenga un (o más!) vehículo, Carlife le brina una plataforma donde puede hacer seguimiento del estado
  de sus componentes, además de interactuar con otros usuarios que tengan vehículos similares, y conocer productos y servicios disponibles para su auto.
  Además permite llevar un seguimiento de los eventos asociados al auto, y de los costos que se ha incurrido.


  <h2>¿Para que les sirve a los proveedores?</h2>
  Para todas las empresas de productos y servicios automotrices, Carlife es la vitrina perfecta donde mostrarse a miles
  de potenciales clientes en el país.  Aquí podrán publicar sus productos y ofertas y estar a la mano de quienes las necesitarán


  <h2>¿Cuanto cuesta ingresar a Carlife?</h2>
  Es absolutamente gratis!

  <h2>¿Cómo gana dinero Carlife?</h2>
  De ninguna forma.  Somos bastante giles y trabajamos gratis.

</div>
<br>
<br>
<%= link_to 'Volver', "javascript:history.go(-1)" %>
<br>