


      <div id="home_sidebar">
        <%=render "products/bar"%>
      </div>



    <div id="home_main">


      <div id="recent_activity_box">
        <h2>Actividad Reciente:</h2>
        <% @events.each do |event| %>
            <%= render "events/feedshow", :@event => event%>
        <% end %>


      </div>


        <div id="news_box">
          <h2>NOTICIAS</h2>
          <%= link_to image_tag(@news.picture, {:id => "home_news_picture" }), news_path(@news)%>
          <h2><%=link_to @news.title, news_path(@news)%></h2>

          <table id="other news">
            <%@other_news.each do |news|%>
            <tr>
              <td>
                   <%=link_to image_tag(news.picture, :size => "86x50"), news_path(news) %>
              </td>
              <td>
                   <%= link_to news.title, news_path(news), :class => "home_other_news_title"  %>
              </td>

            </tr>

            <%end%>


          </table>


        </div>



        <div id="oferta_area">
            <h2 id="label_oferta_destacada">Oferta Destacada:</h2>
            <div id="oferta_box">
              <%=link_to image_tag(@product.picture,:id => "oferta_picture"), supplier_home_path(@product.supplier) %>
              <%= link_to @product.name,supplier_home_path(@product.supplier), :id => "oferta_name" %>
            </div>

        </div>

    </div>




<div id=home_footer>

  <%= link_to "Quienes Somos", quienes_somos_path,:class => "footer_link", :id => "quienes_somos_link"%>
  <%= link_to "FAQ", faq_path,:class => "footer_link", :id => "faq_link"%>
  <%= link_to "Contacto", "mailto:contacto@carlife.com",:class => "footer_link", :id =>"contacto_link"%>

</div>