

<script>
fb_sdk();
</script>

<%=  @warning %>


<h2>Ingresa tus datos, o 
</h2>




<%=link_to_function image_tag("fb_sign_in_small.png"),"fb_login()", {:class => "fb-login-button"}%> 




<div id="login">



  <%= form_tag(:action => "do_login") do %>
      <%= label_tag :email, "Email" %><br />
      <%= text_field_tag(:email) %>
      <p></p>
      <%= label_tag :password, "Password" %><br />
      <%= text_field_tag :password , "", :type => "password" %>
      <p></p>
      <%= submit_tag("Iniciar Sesion") %>

  <% end %>



</div>