

<h1>Quienes Somos</h1>

<%=image_tag "qs.jpg", size: "360x270" %>

<br>
<br>
Carlife nace un emprendimiento de jóvenes con diversos interéses, pero unidos por una gran pasión por los automóviles y la tecnología.
<br>
<br>
Actualmente es propiedad de sus dos desarrolladores:
<br>
<h3>Nicolás Tomic   <%=link_to "(nitomic@uc.cl)", "mailto:nitomic@uc.cl"%>  </h3>
Ingeniero Industrial en computación Pontificia Universidad Católica de Chile, experto en Progamación Web, Ventas y Mecánica Automotríz
<br>
<h3>Felipe Balart <%=link_to "(ffbalart@uc.cl)", "mailto:ffbalart@uc.cl"%>  </h3>
Ingeniero Industrial en computación Pontificia Universidad Católica de Chile,  experto en Progamación Web, Plataformas Virtuales, Diseño y Marketing

<br>
<br>
<br>
<br>

<%= link_to 'Volver', "javascript:history.go(-1)" %>