

<div class="event_box feed_event_box">

    <%=link_to image_tag("event_icons/EventIcon-"+@event.type+".png", :class => "event_icon",size: "40x40"), client_home_path(@event.vehicle.user,{ :vehicle =>  @event.vehicle})%>

    <p class="event_date feed_event_date"><%= @event.created_at.strftime("%d/%m") %><p/>


    <p class="event_text">
        <%=link_to @event.vehicle.user.full_name, client_home_path(@event.vehicle.user) %>
        <%case @event.type%>
        <%when "RefuelEvent"%>
            cargó  <%= @event.litres %> litros en su
        <%when "TripEvent"%>
             viajó  <%= @event.km %> Km a <%= @event.destiny %>  con su
    <%when "InactivityEvent"%>
            mantuvo inactivo desde  <%= @event.time.strftime("%d/%m/%Y") %> su
        <%when "ComponentFailureEvent"%>
            tuvo una falla de la pieza "<%= @event.component.name %>" de su
        <%when "ComponentFixEvent"%>
            reparó la pieza "<%= @event.component.name %>" de su
        <%when "ComponentInstallEvent"%>
            instaló una pieza "<%= @event.component.name %>" en su
        <%when "CrashEvent"%>
          chocó en <%= @event.place%> con su
        <%when "GenericEvent"%>
        en su
        <%else%>
             Tipo de Evento no identificado

        <%end%>
      <%=link_to " "+@event.vehicle.full_name,  client_home_path(@event.vehicle.user,{ :vehicle =>  @event.vehicle})%>



    <p/>


</div>