<script>
    $( document ).ready(filter_new_event_fields)
</script>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> hallados en la creación del evento:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :vehicle_id, :value => @vehicle.id %>

    <div class="field">
      <%= f.label "Tipo" %><br />
      <%= f.collection_select( :type, Event.type_options, :to_s, :fantasy_name, {}, {:onchange => "redraw_new_event_headers();filter_new_event_fields();" })%>
    </div>

    <div class="field event_field InactivityEvent">
      <%= f.label "Inactivo desde" %><br />
      <%= f.date_select :time, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], :end_year => Time.now.year,:start_year => Time.now.year-30,:order => [:day, :month, :year] } %>
    </div>

    <div class="field event_field ComponentFailureEvent ComponentFixEvent ComponentInstallEvent">
      <%= f.label "Componente" %><br />
      <%= f.collection_select( :component_id, @vehicle.model.components, :id, :name  )%>
    </div>



    <div class="field event_field RefuelEvent">
      <%= f.label "Cantidad cargada" %><br />
      <%= f.text_field :litres, :style =>"width:20px;" %> Litros
    </div>


    <div class="field event_field CrashEvent">
      <%= f.label "Lugar" %><br />
      <%= f.text_field :place %>
    </div>


    <div class="field event_field TripEvent">
      <%= f.label "Destino" %><br />
      <%= f.text_field :destiny %>
    </div>

    <div class="field event_field TripEvent">
      <%= f.label "Distancia" %><br />
      <%= f.text_field :km,:style =>"width:20px;"  %> Kms.
    </div>


    <div class="field">
      <%= f.label "Comentario" %><br />
      <%= f.text_area :description, :style =>"height:50px;resize: none;" %>
    </div>


  <div class="actions">
    <%= f.submit "Crear Evento" %>
  </div>
<% end %>
