

<div class="event_box" >

    <%= image_tag("event_icons/EventIcon-"+@event.type+".png", :class => "event_icon")%>

    <%if @owner%>
    <p class="event_delete_x" onClick="if(confirm('¿Eliminar el evento?')) self.location='/event/delete/'+<%=@event.id%>;">X</p>
    <%end%>

    <p class="event_date"><%= @event.created_at.strftime("%d/%m/%Y") %><p/>


    <p class="event_text">

        <%case @event.type%>
        <%when "RefuelEvent"%>
            Cargó  <%= @event.litres %> litros!
        <%when "TripEvent"%>
             Viajó  <%= @event.km %> Km. a <%= @event.destiny %>
    <%when "InactivityEvent"%>
            Estuvo inactivo desde el  <%= @event.time.strftime("%d/%m/%Y") %>
        <%when "ComponentFailureEvent"%>
            Falló la pieza "<%= @event.component.name %>"
        <%when "ComponentFixEvent"%>
            Reparó la pieza "<%= @event.component.name %>"
        <%when "ComponentInstallEvent"%>
            Instaló una pieza "<%= @event.component.name %>"
        <%when "CrashEvent"%>
          Chocó en <%= @event.place%>
        <%when "GenericEvent"%>

        <%else%>
             Tipo de Evento no identificado

        <%end%>

        <p class="event_description">
            <%=@event.description%>
        <p/>

    <p/>


</div>