
<div id="new_event_headers">

<%=  image_tag("event_icons/EventIcon-GenericEvent.png", :id => "new_event_picture") %>
<h1 id=new_event_title>Nuevo Evento</h1>

 </div>


<div id="new_event_form">
    <%= render 'form' %>

  <br><br>
    <%= link_to 'Cancelar', "javascript:history.go(-1)" %>
</div>


