<h1>Listing news</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Picture</th>
    <th>Abstract</th>
    <th>Middle</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= news.title %></td>
    <td><%= news.picture %></td>
    <td><%= news.abstract %></td>
    <td><%= news.middle %></td>
    <td><%= news.body %></td>
    <td><%= link_to 'Show', news %></td>
    <td><%= link_to 'Edit', edit_news_path(news) %></td>
    <td><%= link_to 'Destroy', news, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New News', new_news_path %>
