
<%= link_to 'Volver',root_path %>

<div id="news_show">

<p id="notice"><%= notice %></p>

<p>
  <h1><%= @news.title %></h1>

</p>

<div news_show_main_box>

    <p>
    <h3 style="width:800px;"><%= @news.abstract %></h3>
    </p>

    <p id="news_date"><%=@news.created_at.strftime("%d-%m-%Y - %H:%M") %></p>
    <hr>

    <p>
    <%=image_tag @news.picture, :id => "news_show_picture" %>
    </p>

</div>


<p id="news_show_body" >

  <%= @news.body.gsub("\n", '<br/>').gsub("%MID","<b style='font-size:20px;'>"+@news.middle+"</b>").html_safe  %>
</p>



  <%= link_to 'Volver', root_path %>
</div>