<%= form_for(@maintenance) do |f| %>
  <% if @maintenance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maintenance.errors.count, "error") %> prohibited this maintenance from being saved:</h2>

      <ul>
      <% @maintenance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br />
    <%= f.text_field :vehicle_id %>
  </div>
  <div class="field">
    <%= f.label :fixed_parts %><br />
    <%= f.text_field :fixed_parts %>
  </div>
  <div class="field">
    <%= f.label :changed_parts %><br />
    <%= f.text_field :changed_parts %>
  </div>
  <div class="field">
    <%= f.label :supplier %><br />
    <%= f.text_field :supplier %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
