<div class="issue_box<%=@box_id%>">
  <div class="part_select">

    <!-- collection_select( nil,nil, @parts.map {|a| a.component.name}.uniq.push("-Seleccione Pieza-").sort, :to_s, :to_s,{}, {:onchange => "load_part("+@selected_vehicle.to_s+","+@box_id+")", :id=>"pieza_select"}) -->

    Pieza Reparada:
    <% @part_param_name="part"+@box_id.to_s %>
    <%= select_tag @part_param_name, options_from_collection_for_select(@parts, "component_name", "component_name"), {:onchange => "load_part("+@selected_vehicle.to_s+","+@box_id+")", :id=>"pieza_select"} %>



  </div>
  <div class="part_grade">
    Calificación Actual: <%=@parts.first.grade.to_s+"/5"%>
  </div>
  <div class="new_grade">
    Nueva Calificación:

    <%= @grade_param_name="grade"+@box_id.to_s
        select_tag(@grade_param_name, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]])) %>

  </div>
</div>
