<h1>Listing maintenances</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Vehicle</th>
    <th>Fixed parts</th>
    <th>Changed parts</th>
    <th>Supplier</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @maintenances.each do |maintenance| %>
  <tr>
    <td><%= maintenance.date %></td>
    <td><%= maintenance.vehicle_id %></td>
    <td><%= maintenance.fixed_parts %></td>
    <td><%= maintenance.changed_parts %></td>
    <td><%= maintenance.supplier %></td>
    <td><%= maintenance.description %></td>
    <td><%= link_to 'Show', maintenance %></td>
    <td><%= link_to 'Edit', edit_maintenance_path(maintenance) %></td>
    <td><%= link_to 'Destroy', maintenance, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Maintenance', new_maintenance_path %>
