<h1>Realizar Mantención</h1>

<% if !params[:error].blank? %>
    <div class="duplicado">
    Error: No puedes reparar la misma pieza más de una vez en una misma mantención
    </div>
<% end %>
<%=form_tag('/addmantencion/'+@selected_vehicle) do %>

<h3 id="add_maintenance_price">Costo total de la mantención: $ </h3>
<br>
<%=  text_field_tag "maitenance_price","",{:style => "width: 70px;position:relative;bottom:43px;left:240px;"}%>

<h2 id="add_maintenance_header">
¿Reparaste algunas piezas? Actualízalas aquí -->
<%= link_to_function "+", "load_box("+@selected_vehicle.to_s+")", {:id=>"add_issue"} %>
</h2>

<div class="reparaciones_box">
</div>



<p><%= link_to 'Volver al perfil de este auto', client_home_path({:id =>current_user.id,  :vehicle => @selected_vehicle, :parts => ""}) %></p>

<p><%=submit_tag("Agregar Mantencion") %></p>

<%end%>