<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @maintenance.date %>
</p>

<p>
  <b>Vehicle:</b>
  <%= @maintenance.vehicle_id %>
</p>

<p>
  <b>Fixed parts:</b>
  <%= @maintenance.fixed_parts %>
</p>

<p>
  <b>Changed parts:</b>
  <%= @maintenance.changed_parts %>
</p>

<p>
  <b>Supplier:</b>
  <%= @maintenance.supplier %>
</p>

<p>
  <b>Description:</b>
  <%= @maintenance.description %>
</p>


<%= link_to 'Edit', edit_maintenance_path(@maintenance) %> |
<%= link_to 'Back', maintenances_path %>
