<%= form_for(@supplier) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label "Email" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Contrasena" %><br />
    <%= f.text_field :password , :type => "password" %>
  </div>


  <div class="field">
    <%= f.label "Nombre" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Direccion" %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label "Foto" %><br />
    <input type="text" size="30" name="supplier[picture]" id="supplier_picture">
  </div>
  <div class="field">
    <%= f.label "Sitio Web" %><br />
    <%= f.text_field :website %>
  </div>


  <p></p>

  <div class="actions">
    <%= f.submit "Crear" %>
  </div>
<% end %>
