<% session[:user_id] %>

<h1>Perfil de Proveedor</h1>


<div id="supplier_summary">
<p><b><%= @supplier.name %></b></p>
<p><%= @supplier.address %></p>
<p><%= @supplier.website %></p>
</div>

<div id="supplier_picture">
<% if @supplier.picture.blank? %>
<%= image_tag("sinfoto.jpg", :id => "supplier_pic", :size=>"592x128")%>
<% else %>
<%= image_tag(@supplier.picture, :id => "supplier_pic", :size=>"592x128")%>
<% end %>
</div>

<div id="supplier_wall">
<b>Muro:</b>
</div>

<div id="product_box">
<h2>Mis Productos y Servicios:</h2>

<p class="add_product" onClick="self.location='/products/new/'">+</p>

  <div class="products_box_area">

    <% @supplier.products.each do |product| %>
        <%= render "products/show", :@product => product%>
    <% end %>

  </div>

</div>