
<script src="https://rawgithub.com/recurser/jquery-simple-color/master/jquery.simple-color.js" type="text/javascript"></script>

<script>
jQuery(document).ready(function($) {
    $('#vehicle_color').simpleColor({
    border: "2px solid #000",
    cellWidth: 20,
    cellHeight: 20,
    boxHeight: 30,
    boxWidth: 40,
    border: '1px solid #660033',
    buttonClass: 'button',
    columns: 7,    
    livePreview: true,
            colors : [
            '000000', '993300', '333300', '000080', '333399', '333333'/*, '800000'*/, 'FF6600',
            '808000', '008000', '008080', '0000FF', '666699', '808080', 'FF0000', 'FF9900',
            '99CC00', '339966', '33CCCC', '3366FF', '800080', '999999', 'FF00FF', 'FFCC00',
            'FFFF00', '00FF00', '00FFFF', '00CCFF', '993366', 'C0C0C0', 'FF99CC', 'FFCC99',
            'FFFF99', 'CCFFFF', '99CCFF', 'FFFFFF'
        ]


      });
  
  $("#vehicle_year").val("<%=@vehicle.year%>")
  });

  
  

</script>



<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <br>

    <div class="field">
      <%= f.label "Marca:" %> <br />
      <%= collection_select( nil,"brand_select", Model.all.map {|a| a.brand}.uniq.push("-Seleccione Marca-").sort, :to_s, :to_s, {:selected => @vehicle.model.nil? ? 0 : @vehicle.model.brand   }, {:onchange => "load_models();"})%>
    </div>

    <br>
    <div class="field">
      <%= f.label "Modelo:" %><br />
      <%= f.collection_select( :model_id, @vehicle.model.nil? ? [Model.new(brand: "Seleccione Marca...")] : Model.find_all_by_brand(@vehicle.model.brand), :id, :name, {}, {:disabled => @vehicle.model.nil?})%>
    </div>

    <br>

    <div class="field">
      <%= f.label "Color:" %><br />
      <%= f.text_field :color %>
    </div>
    <br>
    <br>

    <div class="field">
      <%= f.label "Año:" %><br />
      <%= f.select :year, options_from_collection_for_select((1910..2013).to_a,:to_s,:to_s) %>
    </div>


<br>

    <div class="actions">
    <%= f.submit  (@vehicle.id ? "Actualizar" : "Crear")%>  </div>
    <br><br>

<% end %>
