


<%= image_tag(@vehicle.picture, :id => "car_pic")%>

<% if @owner %>

<div id="owner_tools_box">

    <%=  link_to image_tag("add_event_button.png", :id => "add_event_button", :class => "owner_tools_button"), new_event_path({ :vehicle =>  @vehicle})%>
    <%=  link_to image_tag("edit_vehicle_button.png", :id => "edit_vehicle_button", :class => "owner_tools_button"), edit_vehicle_path(@vehicle) %>

</div>

<%end%>


<div id="events_box_area">

    <% @vehicle.events.sort_by(&:created_at).reverse.each do |event| %>
        <%= render "events/show", :@event => event%>
     <% end %>


</div>
