
<br>
<h1 style="text-decoration: underline; position: relative; left: 100px;"> Componentes de <%= @vehicle.full_name %> </h1>

<br>
<h2 style="margin-bottom:-30px;">Costos totales incurridos: <%=number_to_currency(@vehicle.total_costs, :separator => ",", :delimiter => ".", :precision => 0 )%></h2>

<%= render "parts/index",  :@parts => @vehicle.parts%>