<h1>Editar Vehiculo</h1>

<%= render 'form' %>


<br>


<%if @only%>
    <%= link_to 'Eliminar Vehiculo', "#", :onclick => "alert('No puede quedar sin vehiculos'); self.location='/clients/'+"+@vehicle.user.id.to_s %>
    <% else %>
    <%= link_to 'Eliminar Vehiculo', @vehicle, confirm: 'Estás seguro?', method: :delete %>
    <% end %>


<br>
<br>
<%= link_to 'Cancelar', "javascript:history.go(-1)" %>