$("#vehicle_model_id")
                .empty()
        <%@models.each do |m|%>
                .append('<option value="<%=m.id%>"><%=m.name%></option>')
        <%end%>
        .removeAttr("disabled");

