
<%  if @first%>
<h1>Bienvenido! Ingresa los datos de tu vehículo</h1>
    <h3>Podrás agregar más vehículos después en tu perfil</h3>
    <%  else%>
        <h1>Agregar Nuevo Vehículo</h1>
    <%  end %>
<%= render 'form' %>



<% unless @first%>
<%= link_to 'Cancelar', "javascript:history.go(-1)" %>
<% end %>