<p id="notice"><%= notice %></p>

<p>
  <b>Color:</b>
  <%= @vehicle.color %>
</p>

<%=@prueba %>
<p>
  <b>Year:</b>
  <%= @vehicle.year %>
</p>

<p>
  <b>Brand:</b>
  <%= @vehicle.model.brand%>
</p>

<p>
  <b>Model:</b>
  <%= @vehicle.model.name%>
</p>

<p>
  <b>Mi dueño es:</b>
  <%= @vehicle.user.id%>
</p>


<%= link_to 'Editar', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Volver a mi perfil', "/clients/"+@vehicle.user.id.to_s %>
