/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#main{

    width: 1300px;
}

#banner{

    width:100%;
    background-color:#e41818;
}



#banner_home_icon{

    float: right ;
    position:relative;
    bottom: 60px;
    right: 460px;


}
#banner_messages_icon{


    float: right ;
    position:relative;
    bottom: 50px;
    right: 420px;
 }

#banner_baloon_icon{

    float: right ;
    position:relative;
    bottom: 74px;
    right: 444px;
    z-index: 1;
}
#banner_unread_count{
    bottom: 65px;
    float: right;
    position: relative;
    right: 411px;
    z-index: 1;
    font-weight: bold;
    font-size: 14px;
    color: black;

}

#session_info{

    padding-top: 20px;
    padding-right: 100px;
    float: right ;
    color:#ffffff;


}




#session_info a
{color:#ffffff;
}


.home_profile_link
{
    color: white;
    font-size: 16px;
    font-weight: bold;

}


