#client_profile_headers {
  height:50px;
  width:500px;
}
#client_profile_picture {
  height:200px;
  width:200px;
  z-index:100;
  position:relative;  
  border-style:solid;
  background-color: white; 
  cursor: pointer;
}
#client_profile_name {
  position:relative;
  bottom:200px;
  left:220px;
}

#edit_profile_pic_icon {
  z-index:101;
  float:right;
  position:relative;
  right:330px;
  top:160px;
  display: none;
  cursor: pointer;


}

#cars_box{
    
    background-color:lightgray;
    height: 1000px;
    width: 1000px;
}



#car_names_bar{

    background-color:lightgray;
    height: 100%;
    width: 10%;
    float:left;

}

.car_name{

    background-color:whitesmoke;
    border-style:solid;
    border-width:medium;
    margin-top:10px;
    position:relative;
    top: 20%;
}



.selected_car_name_main_view{
    background-color:dimgray;
    border-right: none;
}

.selected_car_name_parts_view{
    background-color:#aaaaaa;
    border-right: none;
}

#selected_car_name_text{
    color: white;
    font-weight:bold;


}
.car_name_text{
    text-decoration: none;
    color: red;
    font-size: 15px;
}

#new_vehicle_link{
position: relative;
       top:180px;
       left:13px;
       font-size: 16px;
}

#car_page_tabs_area{
    background-color:lightgray;/*yellow*/;
    height: 5%;
    width: 60%;
    position:relative;
    left: 27%;
}

.car_page_tab{
    background-color:lightgray;/*red*/;
    height: 100%;
    width: 45%;

}

#car_parts_tab{
    position:relative;
    left: 43%;
    bottom: 100%
}

#main_tab_picture{

    height: 50px;
    width: 241px;
    position: absolute;
    left:18px;

    }

#parts_tab_picture{

    height: 50px;
    width: 241px;
    position: absolute;
    left:0px;

}



.selected_car_box{

    background-color:dimgray;
    height: 100%;
    width: 86%;
    position:relative;
    left: 10%;
}

#parts_view_car_box{
    background-color:#aaaaaa;

}

.fb-login-button {
    position: relative;
    bottom: 37px;
    left: 230px;
}