
.event_box{
    border-style:solid;
    border-width:5px;
    height: 80px;

}
.feed_event_box{
    width: 350px;
    border-width:1px;

}

.event_icon{
    float:left;
    margin-top: 10px;
    margin-right: 10px;
}

.event_date{
    float:right;
    font-size: 14px;
    font-weight:bold;
    color:blue;
    margin-right: 50px;

}
.feed_event_date{

    margin-right: 10px;
    margin-top:20px;
    color:dimgrey;

}

.event_delete_x{
    font-size: 18px;
    font-weight:bold;
    float:right;
    position: relative;
    right:-1%;
    top:-26%;
    border-style:solid;
    border-width:5px;
    padding-right: 3px;
    padding-left: 3px;
    cursor: pointer;

}

.event_text{

}

#new_event_form{
    position:absolute;
    margin-top: 100px;
    margin-left: 20px;
}
#new_event_title{
    float:left;
    margin: 20px;
}
#new_event_picture{
 float:left;
}