






#home_sidebar{


}

#home_main{

    height: 1000px;
    width: 1000px;
    float: left;

}

#news_box{
    width: 600px;
    background-color: WhiteSmoke;
    padding-top:20px;
    padding-bottom:50px;
    padding-left:15px;

}


#home_news_picture{
    text-align: center;
    width: 500px;
}


.home_other_news_title{

    font-size: 16px;
}




#recent_activity_box
{
    float:right;
    background-color: ghostwhite;

}




#oferta_area
{   float:left;
    width: 600px
}

#label_oferta_destacada{

    background-color: LightGray ;
    width: 240px;
    padding: 10px 0 10px 10px;
}

#oferta_name
{
    position: relative;
    bottom: 60px;
    font-size: 20px;
}

#oferta_box{

    background-color: LightGray ;
    position: relative;
    bottom: 20px;
}

#oferta_picture
{
    height:130px ;
    width: 231px;
    padding:10px 10px 5px 30px;

}

#home_footer{
    width:100%;
    height: 100px;
    position:relative;
    top: 900px;
    background-color: #e41818;
}

#home_footer a{
    color:white;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
}

.footer_link{
    margin-top:30px;

}
#quienes_somos_link{
    position:absolute;
    left: 400px;
}
#faq_link{
    position:absolute;
    left: 700px;
}
#contacto_link{
    position:absolute;
    left: 1000px;
}

#login{

margin-left:50px;

}