/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


.issue_box0, .issue_box1, .issue_box2, .issue_box3, .issue_box4, .issue_box5, .issue_box6, .issue_box7, .issue_box8, .issue_box9, .issue_box10, .issue_box11, .issue_box12, .issue_box13, .issue_box14 {
    height: 100px;
    width: 300px;
    background-color: lightgrey;
    border-style: solid;
    border-color: #000000;
    margin: 5px;
    padding: 10px;

}

.part_grade {
    position:relative;
    top:10px;
    font-size: 100%;
    font-weight: bold;
    color: #000000;
}

.new_grade{
    position:relative;
    top:20px;
    font-size: 100%;
    font-weight: bold;
    color: #000000;
}

#add_issue{
    border-color: green;
    color: green;
    font-size: 18px;
    font-weight:bold;


    position: relative;

    border-style:solid;
    border-width:5px;
    padding-right: 3px;
    padding-left: 3px;
    cursor: pointer;

}

#add_maintenance_header{
    color: green;
}

.part_select{
    font-size: 100%;
    font-weight: bold;
    color: #000000;
}

.duplicado{
    color:red;
    font-size: 130%;
}
