
#messages_body{
width: 1000px;
}

#messages_compose_link{

    position:relative;
    left: 200px;
}
#messages_sidebar{
    width: 400px;
    float: left;


}
#messages_main_box{
    width: 600px;
    float:right;
    /*postion:relative;
    left: 400px;*/
    background-color: whitesmoke;
    position: relative;
    bottom: 100px;



}


.message_summary_box {
    border-style: solid;
    border-width: 2px;
    height: 60px;
    padding: 10px;
    width: 350px;
    cursor: pointer;
}
/*Leido   No leido
Enviado  pos,g    pos,g
Recibido  pos,g     pos,r
selecc    pos,bl   no-pos*/



.sent_read_message_summary_box{
     background-color: lightgray;
 }
.sent_unread_message_summary_box{
    background-color: lightgray;
}
.received_read_message_summary_box{
    background-color: lightgray;
}
.received_unread_message_summary_box{
    background-color: lightpink;
}
.unread_message_summary_box{
    background-color: #F5A9A9;

}
.selected_message_summary_box{
    background-color: white;
}

.message_icon{
    height: 40px;
    margin-left: 10px;

}



.message_summary_last_message_date {
    font-weight: bold;
    position: relative;
    right: 10px;
    text-align: right;
    bottom: 54px;
}
.message_summary_contact_name {
    font-size: 16px;
    font-weight: bold;
    position:  relative;
    bottom: 10px;
}
.message_summary_last_message_text {
    width: 200px;
    position: relative;
    bottom: 44px;
}





#message_history_body{
    height:900px;
    width: 100%;
    padding: 20px;
    background-color: lightgray;
}
#message_history_contact_name{
margin-left: 40px;
}

#message_history_text_box{
   background-color: lightgray;
    padding-top: 0px;
    height:500px;
    width:600px;
    font-size: 16px;
    overflow: auto;
    border-style: solid;
    border-width:3px;
    border-color: gray;

}

#message_history_new_box{

}

#message_history_new_text_area{
    resize: none;
    height: 100px;
    width: 90%;
    margin-top: 20px;
    border-style: solid;
    border-width:3px;
    border-color: gray;


}

#message_history_send_button{

    position: relative;
    left: 550px;
    bottom: 90px;
    height:70px;

}




.message_show_date {
    font-weight: bold;

}
.message_show_box{
    position: relative;
    margin-bottom: -8px;
    padding-bottom: 5px;
}
.sent_message_show_box{

    background-color: whitesmoke;
}
.received_message_show_box{

    background-color: #ffffff;
}

.message_show_date {
    text-align: right;
    margin-right: 10px;
    position: relative;
    top: 10px;

}


.summary_message_icon{
        height: 30px;
        margin-right: 18px;
        float:right;
        position: relative;
        bottom: 60px;

}
.message_show_text{
    margin-left: 70px;
    margin-right: 20px;
    position: relative;
    bottom: 40px;

}
.received_message_text {

}

.message_show_hor_bar{
    background-color:white;
    position:relative ;
    top: 15px;
    height :2px;


}


#message_compose_body{
    padding-top:20px;
    padding-left:20px;
    background-color: lightgrey;
    height: 900px;
}
#message_compose_text_area{
    resize: none;
    height: 200px;
    width: 90%;
    margin-top: 5px;


}


#message_compose_send_button{

    position: relative;
    left: 437px;
    height:70px;
    width: 90px;

}


