/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


#news_show{

    margin:15px;
}

#news_show_main_box
{
    width:800px;


}
#news_show_picture{
            width: 300px;
            float:left;
            margin: 12px;
}

#news_show_body
{
    width: 800px;

}

#news_date{
    font-family: serif;
    font-size: 19px;


}