
.parts_table {

                 position:relative;
                 top:50px;
                 width:80%;
                 box-shadow: 10px 10px 5px #888888;

                 background-color:whitesmoke;

                radius-bottomleft:18px;
                 -webkit-border-bottom-left-radius:18px;
                 border-bottom-left-radius:18px;
                 -moz-border-radius-bottomright:18px;
                 -webkit-border-bottom-right-radius:18px;
                 border-bottom-right-radius:18px;
                 -moz-border-radius-topright:18px;
                 -webkit-border-top-right-radius:18px;
                 border-top-right-radius:18px;
                 -moz-border-radius-topleft:18px;
                 -webkit-border-top-left-radius:18px;
                  border-top-left-radius:18px;


}

#parts_table_header{

    background-color:lightgray;
    height:40px;
    font-size: 16px;
}

.parts_table_row{
    height:50px;


}


.parts_table_column{
    border-bottom:1px solid gray;
    font-size: 16px;
}


#new_part_link{

       position: relative;
       top:20px;
       left: 520px;
       font-size:17px ;
       font-weight: bold;
}

#new_maintenance_link{

    position: relative;
    top:20px;
    left: 520px;
    font-size:17px ;
    font-weight: bold;
}


#new_parts_form{



}


.new_part_field{
margin-bottom:30px;
}


.star{
    cursor: pointer;
}

.vehicle_state{
    position:relative;
    left: 130px;
    top: 20px;
    font-size: 150%;
    font-weight: bold;
}

.state_explanation{
    position:relative;
    top:20px;
    width: 600px;
    background-color: #ffffff;
    border-style: solid;
    padding: 5px;
    border-color: red;
    font-size: 70%;
    font-weight: normal;
}