/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.product_box{
     background-color: #e41818;
     height: 150px;
     padding: 10px;
     width: 550px;
     border-style:solid;
}

.name{
    position: relative;
    left: 120px;
    bottom: 120px;
    font-weight: bold;
    font-size: 130%;
}

.price{
    position: relative;
    left: 120px;
    bottom: 120px;
    font-weight: bold;
    font-size: 110%;
}

.description{
    position: relative;
    bottom: 80px;
    font-size: 100%;
}

.product_delete_x{
    font-size: 18px;
    font-weight:bold;
    float:right;
    position: relative;
    bottom: 150px;
    border-style:solid;
    border-width:5px;
    padding-right: 3px;
    padding-left: 3px;
    cursor: pointer;

}

.product_edit{
    font-size: 18px;
    font-weight:bold;
    float:right;
    position: relative;
    bottom: 110px;
    left: 29px;
    border-style:solid;
    border-width:5px;
    padding-right: 3px;
    padding-left: 3px;
    cursor: pointer;

}

.productos_box{
    position: absolute;
    left: 300px;
    top:200px;
    padding: 10px;

}

.product_supplier{
    left: 120px;
    bottom: 155px;
    position: relative;
}

.barra_izq{
    background-color: grey;
    width: 150px;
    border-style: solid;
    padding: 10px;
}


#products_bar{
    float: left;
    width: 200px;
    height:900px;
    background-color:#e41818;
    padding: 20px;
    position:relative;
    bottom: 20px;
}

#products_bar a
{color:whitesmoke;
 font-weight: bold;
}

.search_button{
    width: 30px;
    heigth: 30px;
    position: relative;
    top: 10px;
}

#clear_search_button{
    position:relative;
    top: -21px;
    left: 130px;
}
