#supplier_summary{
     position: absolute;
     height:200;
     width:150;
}

#supplier_picture{
    position: absolute;
    left: 400px;
}
#supplier_wall{
    position: absolute;
    left: 1050px;
}
#product_box{
    position: absolute;
    top: 400px;
    left: 400px;
    width: 592px;
}

.add_product {
    border-color: green;
    color: green;
    font-size: 18px;
    font-weight:bold;
    float:right;
    position: relative;

    bottom: 60px;
    top:-26%;
    border-style:solid;
    border-width:5px;
    padding-right: 3px;
    padding-left: 3px;
    cursor: pointer;

}
