

#picture_form{

  height:320px;
}

.selected_pic_option_box{

background-color:lightgray !important;

}

.pic_option_box{

height:40px;
width:400px;
background-color:gray;
margin-top:20px;
padding-top: 10px;
}

.pic_option_icon{
	margin-left: 15px;	
	height:20px;
	width:20px;

}

.pic_option_title{
	
font-weight: bold;
margin-right: 10px;
margin-left: 15px;

}


#pic_preview_box {
  background-color:lightgray;  
  position:relative;
  width:300px;
  height:300px;
  left:400px;
  bottom:260px;
  padding-top: 10px;
}

#pic_preview
{
  width:200px;
  height:200px;
  margin-left:40px;
  margin-top: 20px;
  border-style:solid;


	
}


.pic_radio_button
{width:20px;
  height:20px;
}



.user_form_actions{

}

#internet_pic_url{
  width:200px;
}