

#car_pic{
    heigth: 300px;
    width: 70%;
    position:absolute;
    left:15%;
    margin-top: 30px;
}


#owner_tools_box{

    position: absolute;
    top: 400px;
    left: 11%;
    margin: 10px;

}

.owner_tools_button{
    margin-left:90px;
}



#events_box_area{
    background-color: gainsboro;
    width:60%;
    position: absolute;
    top:50%;
    left:20%;
}

