<h1>Categorías disponibles</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%=category.name%></td>
    <td><%=truncate(category.description, :length => 25)
    %></td>
    <td><%= link_to 'Ver', category %></td>
    <td><%= link_to 'Editar', edit_category_path(category) %></td>
    <td><%= link_to 'Eliminar', category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Crear nueva categoria', new_category_path %>
