<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @category.name %>
</p>
<p>
  <b>Descripcion:</b>
  <%= @category.description %>
</p>



<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
