
<div id="products_bar">
    <br>
  <div id="search_products">

    <%= form_tag :controller => 'products', :action => 'search', :method => 'get' do %>
           <%= text_field_tag :search, params[:search], :id => 'search_field' %>
           <%= image_submit_tag ("buscar.png"), :class => "search_button" %>
           <%= link_to_function image_tag("x.png", :size => "20x20"), "clear_search()", :id=>'clear_search_button' %>
    <% end %>

  </div>
  <br>
  <div><%=link_to "OFERTAS", products_path%></div><br />
  <%Category.all.sort_by {|c| c.products.size}.reverse.each do |category|%>
      <%=link_to category.name.gsub('á', 'a').gsub('é', 'e').gsub('ó', 'o').gsub('í', 'i').gsub('ú', 'u').upcase, products_path({ :category =>  category.id}) %>
      <br>
      <br>
  <% end %>

</div>