<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Descripción" %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label "Precio" %><br />
    <%= f.text_field :price %>
  </div>

  <div>
    Categoría del producto
    <p></p>
    <select name="selected_category">

      <!-- Opcion por Default es la categoria de este producto si se esta editando -->
      <%if !@product.category.blank? %>
          <option value="<%= @product.category.name %>">
            <%= @product.category.name %>
          </option>
      <%end%>



      <% @categorias.each do |m| %>
          <%if m!=@product.category%>
              <option value="<%= m.name %>">
                <%= m.name %>
              </option>
          <%end%>
        <% end %>

    </select>
    <p></p>
  </div>

    <div class="field">
      <%= f.label "Foto" %><br />
      <%= f.text_field :picture %>
    </div>

  <p></p>

  <div class="actions">
    <%= f.submit "Crear Producto" %>
  </div>

  <p></p>
<% end %>
