<div class="product_box">

<p class="picture">
<% if @product.picture.blank? %>
<%= image_tag("sinfoto.jpg", :size=>"110x110")%>
<% else %>
<%= image_tag(@product.picture, :size=>"110x110")%>
<% end %>
</p>

<p class="name">
  <%=@product.name%>
</p>

<p class="price">
  <%=number_to_currency(@product.price, :precision=>0, :unit=>"CLP $")%>
</p>

<p class="description">
  <%=@product.description.truncate(80)%>
</p>

<p class="product_supplier">
 <%=@product.supplier.name%>
</p>


</div>