<div id="home_sidebar">
  <%=render "products/bar"%>
</div>


<div class="productos_box">

  <h2><%=@mensaje%></h2>

  <% @products.each do |product| %>
      <%= render "products/show_to_client", :@product => product%>
  <% end %>

</div>