<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @product.name %>
</p>
<p>
  <b>Descripcion:</b>
  <%= @product.description %>
</p>
<p>
  <b>Precio:</b>
  <%= @product.price %>
</p>
<p>
  <b>Categoria:</b>
  <%= @product.category.name %>
</p>

<%= link_to 'Editar este producto', edit_product_path(@product) %> |
<%= button_to 'Eliminar este producto', @product, confirm: 'Are you sure?', method: :delete %>
<p><%= link_to 'Volver a mi perfil', "/suppliers/"+@user.id.to_s %></p>
