<!DOCTYPE html>
<html>
<head>
  <title>Carlife</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application"  %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>" bgcolor="red">

  <div id="fb-root"></div>




<div id="banner">
  <%=link_to image_tag("banner_logo.jpg"), root_path %>


 <div id="session_info">

   <td><b><%= #controller_name
   %></b></td>
   <td><b><%= #action_name
   %></b></td>


  <%  @user = current_user%>

  <% unless @user.blank? %>
      <h2>Bienvenido <%=  @user.first_name  %></h2>
      <%if @user.type=="Client" %>
      <%= link_to  "Ir a mi perfil" ,  client_home_path(:id => @user.id), :class => "home_profile_link"%>
      <% else %>
      <%= link_to  "Ir a mi perfil" ,  "/suppliers/"+@user.id.to_s, :class => "home_profile_link"%>
      <% end %>

      <%= link_to  "Cerrar Sesion" ,  "/logout", :class => "home_profile_link", :style => "margin:10px;"%>


       <div id="banner_links">

         <%if @user.unread_count>0%>
             <%=link_to image_tag("baloon.png", :size => "55x40"), messages_path, {:id => "banner_baloon_icon"}%>
             <%=label_tag "banner_unread_count", @user.unread_count, {:id => "banner_unread_count"}  %>
         <%end%>
         <%=link_to image_tag("messages_icon.png", :size => "70x50"), messages_path, {:id => "banner_messages_icon"}%>
         <%=link_to image_tag("home_icon.png", :size => "70x70"), root_path,{:id => "banner_home_icon"}%>


       </div>


 <%else%>
      <h2>
        <%= link_to "Registrate", "/clients/new" %>
        <%= link_to "Iniciar Sesion", "/login" %>
        <p><%= link_to "¿Eres un Proveedor? Registrate aqui", "suppliers/new" %></p>
      </h2>
  <%end%>
</div>
</div>
</div>





</td>
<td valign="top" width="200" align="center">
  <p><p>
  <%=	if !session[:user_id].nil? #n%2==0#
                                    #link_to 'Ver Carro', cart_path( session[:cart_id])
         end %>





  <p>
  <div id="hx">
    <%=@page_title || " " %>
  </div>
  </p>




    <div id="main">
      <%=yield %>
    </div>
</div>

</body>
</html>