<%= form_for(@maintenance_issue) do |f| %>
  <% if @maintenance_issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maintenance_issue.errors.count, "error") %> prohibited this maintenance_issue from being saved:</h2>

      <ul>
      <% @maintenance_issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :maintenance_id %><br />
    <%= f.number_field :maintenance_id %>
  </div>
  <div class="field">
    <%= f.label :part_id %><br />
    <%= f.number_field :part_id %>
  </div>
  <div class="field">
    <%= f.label :fixed %><br />
    <%= f.check_box :fixed %>
  </div>
  <div class="field">
    <%= f.label :old_grade %><br />
    <%= f.number_field :old_grade %>
  </div>
  <div class="field">
    <%= f.label :new_grade %><br />
    <%= f.number_field :new_grade %>
  </div>
  <div class="field">
    <%= f.label :new_part_id %><br />
    <%= f.number_field :new_part_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
