<h1>Listing maintenance_issues</h1>

<table>
  <tr>
    <th>Maintenance</th>
    <th>Part</th>
    <th>Fixed</th>
    <th>Old grade</th>
    <th>New grade</th>
    <th>New part</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @maintenance_issues.each do |maintenance_issue| %>
  <tr>
    <td><%= maintenance_issue.maintenance_id %></td>
    <td><%= maintenance_issue.part_id %></td>
    <td><%= maintenance_issue.fixed %></td>
    <td><%= maintenance_issue.old_grade %></td>
    <td><%= maintenance_issue.new_grade %></td>
    <td><%= maintenance_issue.new_part_id %></td>
    <td><%= link_to 'Show', maintenance_issue %></td>
    <td><%= link_to 'Edit', edit_maintenance_issue_path(maintenance_issue) %></td>
    <td><%= link_to 'Destroy', maintenance_issue, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Maintenance issue', new_maintenance_issue_path %>
