<p id="notice"><%= notice %></p>

<p>
  <b>Maintenance:</b>
  <%= @maintenance_issue.maintenance_id %>
</p>

<p>
  <b>Part:</b>
  <%= @maintenance_issue.part_id %>
</p>

<p>
  <b>Fixed:</b>
  <%= @maintenance_issue.fixed %>
</p>

<p>
  <b>Old grade:</b>
  <%= @maintenance_issue.old_grade %>
</p>

<p>
  <b>New grade:</b>
  <%= @maintenance_issue.new_grade %>
</p>

<p>
  <b>New part:</b>
  <%= @maintenance_issue.new_part_id %>
</p>


<%= link_to 'Edit', edit_maintenance_issue_path(@maintenance_issue) %> |
<%= link_to 'Back', maintenance_issues_path %>
